<html>
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h2>Welcome to Rock, Paper, Scissors</h2>
        
      
        <form action="/results" method="POST">
        <label for="Player_1_name">Player 1 Name:</label>
        <input type="text" name="P1_name" id="P1_name">
        <label for="Player 1">Rock, Paper or Scissors?</label>
        <input type="text" name="P1_choice" id="P1_choice"><br>
        
        <label for="plyer_2_name">Player 2 Name:</label>
        <input type="text" name="P2_name" id="P2_name">
        <label for="Player 2">Rock, Paper or Scissors?</label>
        <input type="text" name="P2_choice" id="P2_choice"><br>
        <input type="submit" value="Fight">
        
        </form>
       
    </body>
</html>