<html>
    <head>
        <title>Game</title>
    </head>
    <body>
        <h2>Welcome to Rock, Paper, Scissors</h2>

        <form action="/add-match" method="POST">
        <label for="Player 1">Player 1: Rock, Paper or Scissors?</label>
        <input type="text" name="P1_choice" id="P1_choice"><br>
        <label for="Player 2">Player 2: Rock, Paper or Scissors?</label>
        <input type="text" name="P2_choice" id="P2_choice"><br>
        <input type="submit" value="Fight">
        

        
        </form>

        
    </body>
</html>